.center-border {
  margin: auto;
  width: 40%;
  border: 2px solid black;
}

.margin {
  margin: 10px;
}

.column {
  float: left;
  width: 50%;
}


.file-input-col {
    width: 100%;
    height: 50%;
}

.column {
    display: inline-block;
    vertical-align: middle;
}

.row {
    vertical-align: middle;
    overflow: hidden;
    max-width: 100%;
}

.centered {
    text-align: center;
}

span {
    display: block;
    overflow: hidden;
    text-align: center;
}
label {
    display: inline-block;
    width: 185px;
}

.resultLabel {
    text-align: left;
    width: 160px;
}

.resultLabel > input {
    float: right;
}

input {
    display: inline-block;
}

input[type="number"] {
    display: inline-block;
    width: 175px;
    padding: 3px;
}

.form-control {
    margin-bottom: 5px;
}
