.header {
  background-color: #707070;
  padding: 20px;
  color: #3366FF;
}

.title {
  font-size: x-large;
  padding: 20px;
  color: #3366FF;
  text-align: center;
}

.website-page {
  height: '100vh';
  min-height: '100vh';
  position: relative;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #B0B0B0;
}

.home-page {
  background-color: #B0B0B0;
}

h1 {
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

h1:before {
    content:' ';
    display:block;
    border:2px solid #000;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

h1:after {
    content:' ';
    display:block;
    border:2px solid #000;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

.center {
  margin: auto;
  width: 40%;
}

.center-google {
    margin: auto;
    width: 25%;
}

h2 {
  font-size: xx-large;
}

.textstyle {
    background-color: gray; /* Changing background color */
    font-weight: bold; /* Making font bold */
    border-radius: 20px; /* Making border radius */
    width: 3%; /* Making auto-sizable width */
    height: auto; /* Making auto-sizable height */
    margin: 10px;
    padding: 5px 30px 5px 30px; /* Making space around letters */
    font-size: 18px; /* Changing font size */
}
